/* ./styles/globals.css */
@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "John Mayer";
  src: url("/fonts/John-Mayer/John-Mayer-v2.ttf");
  font-style: normal;
  font-weight: 300;
}
@font-face {
  font-family: "Jost";
  src: url("/fonts/Jost/Jost-Thin.ttf");
  font-style: normal;
  font-weight: 200;
}
@font-face {
  font-family: "Jost";
  src: url("/fonts/Jost/Jost-Light.ttf");
  font-style: normal;
  font-weight: 300;
}
@font-face {
  font-family: "Jost";
  src: url("/fonts/Jost/Jost-Regular.ttf");
  font-style: normal;
  font-weight: 400;
}

@font-face {
  font-family: "Jost";
  src: url("/fonts/Jost/Jost-SemiBold.ttf");
  font-style: normal;
  font-weight: 500;
}